/*reset style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

/*--------------------*/
/*-----------------rem-function-------------*/
.subHeader__text a {
  color: #13AA57;
}

.ecoHabits .ecoHabits__container .ecoHabits__content .ecoHabits__btn {
  padding: 8px 22px;
  background-color: #13AA57;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2rem;
  filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));
  border-radius: 3px;
}

.header__line {
  position: absolute;
  top: 40px;
  min-width: 100%;
  border-bottom: 1px solid rgba(131, 156, 148, 0.2);
}
.header__container {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  min-height: 122px;
  color: #000000;
  min-height: 82px;
  padding: 5px 0px;
  position: relative;
}

.subHeader__container {
  padding: 10px 0px 10px 0px;
  margin-right: -103px;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.subHeader__lang {
  margin-left: 30px;
  position: relative;
  display: flex;
}
.subHeader__lang:after {
  content: url("../img/header/Arrow.png");
  position: absolute;
  top: -2px;
  right: -20px;
}
.menu {
  display: flex;
  font-size: 1rem;
  color: #000000;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 96px;
}
.menu__list :not(:last-child) {
  margin-right: 93px;
}
.menu__item:first-child {
  color: #13AA57;
  font-weight: 700;
}
.menu__link {
  color: inherit;
}

.main {
  position: relative;
  font-family: "Open Sans";
}

.ecoHabits .ecoHabits__container {
  min-height: 580px;
}
.ecoHabits .ecoHabits__container .ecoHabits__content {
  padding: 99px 416px 70px 10px;
}
.ecoHabits .ecoHabits__container .ecoHabits__content :not(:last-child) {
  margin-bottom: 30px;
}
.ecoHabits .ecoHabits__container .ecoHabits__content .ecoHabits__header {
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 3.375rem;
}
.ecoHabits .ecoHabits__container .ecoHabits__content .ecoHabits__describe {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
}
.ecoHabits .ecoHabits__container .img__ecoCircle {
  position: absolute;
  top: 60px;
  right: 452px;
}
.ecoHabits .ecoHabits__container .img__ecoBoy {
  position: absolute;
  top: 130px;
  right: 135px;
}
.ecoHabits .ecoHabits__container .img__ecoLeaf {
  position: absolute;
  top: 146px;
  right: 0px;
}

.ecoAboutUs .ecoAboutUs__container {
  min-height: 947px;
  padding: 74px 50px 0px 74px;
}
.ecoAboutUs .ecoAboutUs__container .ecoAboutUs__header {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 4rem;
  text-align: center;
}
.ecoAboutUs .ecoAboutUs__container .ecoBag .ecoBag__img {
  width: 28.8461538462%;
  height: 33.2629355861%;
}
html {
  font-size: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1040px;
  box-sizing: content-box;
  margin: 0px auto;
  /* padding: 0 15px; */
}/*# sourceMappingURL=style.css.map */