@font-face {
    font-family: 'Proxima Nova Black';
    src: url('../fonts/ProximaNova-Black.ttf');
    src: url('../fonts/?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-BlackIt.woff') format('woff'),
         url('../fonts/ProximaNova-BlackIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }