.header {
    width: 100%;
    background-color: $white;
    box-shadow: 0px -18px 52px rgba(46, 91, 255, 0.2);
    &__line {
        position: absolute;
        top:40px;
        min-width:100%;
        border-bottom: 1px solid  rgba(131, 156, 148, 0.2);
    }
    
    &__container {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: rem(14px);
        min-height: 122px;
        color:$black;
        min-height: 82px;
        padding: 5px 0px;
        position: relative;
    }

.subHeader{
    &__container {
        position:relative;
        z-index: 10;
        padding: 10px 0px 10px 0px;
        background: $white;
        margin-right: -103px;
        display:flex;
        justify-content: right;
        flex-wrap: wrap;
        flex:1 1 auto;
        background-color: $white;
    }
    &__lang {
        margin-left:30px;
        position: relative;
        display: flex;
        &:after {   
            content:url("../img/header/Arrow.png");
            position:absolute;
            top:-2px;
            right:-20px;   
        }
    }
    &__text {
        a {
            @extend %green-text;
            &:hover{
                text-decoration: underline;
            }
        }
    } 
}
}

.menu {
    display: flex;  
    font-size: 1rem;
    color:$black;
    &__list {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 96px;
        & :not(:last-child) {
            margin-right: 93px;
        }
    }
    &__item:hover {
        color:$green;
    }
    &__link {
        color:inherit;
    }
}


