.main {
    position: relative;
    font-family: 'Open Sans';
}
.ecoHabits {
    &__bg {
        position: absolute;
        right:0px;
        top:-100px;
        z-index:-1;
    }
    &__container {
        min-height: 580px;
    }     
    &__content {
        padding: 99px 416px 70px 10px;
        & :not(:last-child) {
            margin-bottom: 30px;
        }
    }
    &__header {
        font-size: rem(46px);
        font-weight: 700;
        line-height: rem(54px);
    } 
    &__describe {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(32px);
        color:$light-black;
    }  
    &__btn {
        @extend %btn-green;
    }

    .img__ecoCircle {
        position:absolute;
        top:60px;
        right:452px;
    }
    .img__ecoBoy {
        position:absolute;
        top:130px;
        right:135px;
    }
    .img__ecoLeaf {
        position:absolute;
        top:146px;
        right:0px;
    } 
}
.ecoAboutUs {
    font-family: 'Open Sans'; 
    &__container {
        min-height:800px;
        padding: 74px 60px 0px 74px;
    }    
    &__header { 
        font-weight: 700;
        font-size: rem(46px);
        line-height: rem(64px);
        text-align: center;
    }
    .ecoBag,.ecoCup {
        display: flex;
        justify-content:space-between;
        align-items:center;
    }
    .ecoCup__header,.ecoBag__header {
        font-weight: 600;
        font-size: rem(21px);
        line-height: rem(29px);
        span {
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 700;
            font-size: rem(60px);
            color: $green;
            vertical-align:middle;
            margin:0px 20px;
        }
    }
    .ecoBag__question, .ecoCup__question {
        font-weight: 400;
        font-size: rem(16px);
        color:$black;
        margin-top: 30px;
    }   
    .ecoBag__btn,.ecoCup__btn {
        @extend %btn-green;
        margin-top: 40px;
    } 
    .ecoCup__link,.ecoBag__link {
        display: flex;
        font-weight: 600;
        font-size: rem(14px);
        line-height: rem(19px);
        color:$green;
        margin-top: 30px;
        &:before {
            content:url("../img/main/eco__bag/map.png");
            margin-right: 20px;
        }
        &:hover {
            text-decoration:underline;
        }
    }
    .ecoBag {
        &__wrapper {
            max-width: procent-width($_container-width,312px);
            margin-top: 70px;
        }
        &__img {
            margin-left: 126px;
            width:procent-width($_container-width,300px);
            height:procent-height(947px,315px);
        }
        &__btn-wrapper {
            display: flex;
            justify-content:right;
        }
    }
    .ecoCup {
        margin-top:129px;
        &__wrapper {
            margin-left:74px;
            max-width: procent-width($_container-width,335px);
        }
        &__btn-wrapper {
            display: flex;
            justify-content:center;
        }
    }
}    

.ecoEvents {
    position: relative;
    &__container {
        min-height: 610px;
        font-family: 'Open Sans';
    }
    &__header {
        font-weight: 700;
        font-size: rem(46px);
        line-height: rem(64px);
        text-align: center;
        margin-top: 120px;

    }
    &__wrapper {
        display: flex;
        margin-left: 25px;
        margin-top: 50px;
        min-height: 444px;
        background: #FFFFFF;
    }
    &__lecture-wrapper {
        background: #FFFFFF;
        box-shadow: -1px 13px 20px #F0F2F4;
    }
    &__describe {
        @include ecoEvents__style-card(32px,40px);
        padding: 21px 207px 29px 30px;
    }
    &__ecoCards-wrapper {
        margin-left: 20px;
        background: #FFFFFF;
        box-shadow: -1px 13px 20px #F0F2F4;
        border-radius: 4px;
        border-top: 7px solid $green;
        padding: 0px 22px 0px 30px;
        .ecoCards {
            &__item {
                padding: 27px 0px 20px 0px;
                @include ecoEvents__style-card(24px,36px);
                &:first-child {
                    border-bottom: 2px solid rgba(150, 141, 153, 0.42);
                }
            }
        }
    } 
    &__button {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(32px);
        color: $green;
        padding: 8px 20px;
        margin-left: 600px;
        background-color: $white;
        border:1px solid ;
        border-radius: 5px;
        border-image: linear-gradient(0deg, $green, rgb(40, 240, 67)) 1;
        transition: all 0.3s ease;
        &:hover {
            background-color: $green;
            color:$white;
        }
    }
    &__leaf-img {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        position:absolute;
        left:0px;
        top:400px;
        z-index: -5;
    }
}

.ecoTips {  
    &__container {
        padding-top: 150px;  
        font-family: 'Open Sans'; 
    }
    &__header {
        font-style: normal;
        font-weight: 700;
        font-size: rem(46px);
        line-height: rem(64px);
        text-align: center;
        color: $black;
    }
    &__ecoCards {
        margin-top: 80px;
        .ecoCards {
            &__slide {
                max-width:408px;
                max-height: 300px;
                padding: 30px 40px 55px 40px;
                background-color: $white;
                box-sizing: border-box;
                box-shadow: -2px 23px 40px #cadbee;
            }
            &__content {
                font-weight: 400;
                font-size: rem(18px);
                line-height: rem(27px);
                color: #324148;
                margin-top: 20px;
            }
            &__img {
                display:block;
                margin: 0px auto;
            }
            &__buttons-wrapper {
                display:flex;
            }
            &__prev,&__next {
                display:flex;
                align-items:center;
                justify-content:center;
                width: 52px;
                height: 52px;
                cursor: pointer;
                &:after {
                    display: none;
                    }
            }
            &__next {
                background-color:$white;
                border: 1px solid green;
                box-sizing:border-box;
                border-radius:0px 20px 20px 0px;
            }
            &__prev {
                background-color:$green;
                border-radius:20px 0px 0px 20px;
            }
        }
    }
}

