$font-general:16px;
$_container-width:1040px;
$green: #13AA57;
$white: #FFFFFF;
$grey: #839C94;
$black:#000000;
//----------ecoHabits-------------
$light-black:#263238;
//----------ecoForm---------------
$color-text__form:#2B292D;